:root {
    --background-color: #202020;
    --text-color: whitesmoke;
    --accent-color: white;
    --button-background: #FFFFFF;
    --button-text-color: #000000;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

/* Reset default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--default-font-family);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--background-color);
}

.navbar .brand {
    font-weight: bold;
    color: var(--text-color);
}

.navbar .nav-links a {
    margin-left: 20px;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

.navbar .nav-links a:hover {
    color: var(--text-color);
}

/* Main container styling */
.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.profile-image img {
    width: 100%;
    border-radius: 8px;
}

.about-me {
    background-color: #292929;
    padding: 20px;
    border-radius: 8px;
}

.about-me h2 {
    color: var(--accent-color);
    font-size: 1.2rem;
}

.about-me h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    font-family: var(--heading-font-family);
}

.about-me p {
    line-height: 1.6;
    margin: 20px 0;
}

.social-icons a {
    margin-right: 10px;
    color: var(--text-color);
    font-size: 1.2rem;
    text-decoration: none;
}

/* Button Styling */
.contact-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

/* Gallery styling */
.gallery {
    display: flex;
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-top: 50px;
}

