:root {
    --background-color: #202020;
    --text-color: GREY;
    --accent-color: #BROWN;
    --button-background: #FFFFFF;
    --button-text-color: #000000;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--default-font-family);
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
  }
  
  .hero {
    text-align: center;
    padding: 80px 20px;
    
  }

  .hero p, .hero h1, .hero h2 {
    color: var(--text-color);
  }
  
  .btn {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background-color: var(--text-color);
    color: var(--background-color);
  }
  
  nav ul li a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: var(--text-color);
  }
  
  .hero-background {
    background-image: url('../images/ya3.jpeg'); /* Ensure this is the correct path */
    background-color: #333; /* Fallback color */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center center; /* Centers the image both vertically and horizontally */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100vw; /* Makes the hero section span the full viewport width */
    height: calc(110vh - 100px);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden; /* Ensures no scrollbars if the image overflows */
  }
  .portfolio-section {
    background-color: #202020;; /* Light background for contrast */
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .portfolio-section h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #333;
  }
  
  .portfolio-item {
    text-align: center;
  }
  
  .portfolio-item img {
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .portfolio-item img:hover {
    transform: scale(1.05); /* Slight zoom on hover */
  }
  
  .portfolio-item h3 {
    margin-top: 15px;
    font-size: 1.25rem;
    color: #333;
  }
  
  .portfolio-item p {
    color: #666;
  }
  